{% extends 'ordersapp/base.html' %}
{% load static %}

{% block container %}
   <div class="category_delete">
       <div class="h1">Уверены, что хотите удалить?</div>
       {% include 'ordersapp/includes/inc__order_form_order_summary.html' %}
       <form action="{% url 'order:order_delete' object.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="удалить">
       </form>
        <a href="{% url 'order:orders_list' %}" class="btn btn-success">отмена</a>
   </div>
{% endblock %}