{% extends 'adminapp/base.html' %}
{% load static %}
{% block menu %}
{% endblock %}
{% block container %}
    <div class="category_delete">
    	Уверены, что хотите удалить категорию <b>{{ category_to_delete.username }}</b>?
    </div>
    <form class="form-horizontal" action="{% url 'myadmin:category_delete' category_to_delete.pk %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger form-control" type="submit" value="Удалить">
    </form>
    <a href="{% url 'myadmin:categories' %}" class="btn btn-success form-control">Отмена</a>
{% endblock %}