{% extends 'adminapp/base.html' %}
{% load static %}
{% block container %}
<a href="{% url 'myadmin:user_create' %}" class="btn btn-primary">new</a>
<div class="user-list">
	{% for object in object_list %}
	<div class="user-record {% if not object.is_active %}not-active{% endif %}">
		<img src="/media/{{ object.avatar|default:'users_avatars/default.jpeg' }}" alt="{{ object.username }}">
		<div class="user-role">
			{% if object.is_superuser %}<p>administrator</p>{% else %}<p>user</p>{% endif %}
			<a href="{% url 'myadmin:user_update' object.pk %}" class="btn btn-secondary">edit</a>
			<a href="{% url 'myadmin:user_delete' object.pk %}" class="btn btn-danger">delete</a>
		</div>
		<div class="user-name">
			<p><strong>{{ object.username}}</strong></p>
			<p>
				{% if object.first_name %}
					<b>{{ object.first_name|title }}</b>
					{% if object.last_name %}
						<p>{{ object.last_name|title }}</p>
					{% endif %}
				{% endif %}
			</p>
		</div>
		<div class="user-age">
			{% if object.age %}<p>age: {{ object.age }}</p>{% endif %}
		</div>
		<div class="user-email">
			<p>email: {{ object.email }}</p>
		</div>
		<div class="user-lastlogin">
			logged: {{ object.last_login }}
		</div>
	</div>
	{% endfor %}
</div>	
{% endblock %}